
  <% if current_user %>
  <p>Bienvenue sur ton profil <%= current_user.name %> !</p>
  <% else %>
  <p>Bienvenue sur SquadScape visiteur !</p>
  <% end %>

<div class="banner">
  <div class="card">
    <h2>Tricount</h2>
  </div>
  <div class="card">
    <h2>Dashboard</h2>
  </div>
</div>
